<div id="background-color">
  <div class="landing-page">
    <div class="imgbox">
      <%= image_tag 'houblon.jpg', :class => 'landing-picture' %>
      <div class="landing-text">
        <h1>HOPPYZ</h1>
        <h3>Les rencontres de la bière</h3>
      </div>
      <div class="arrow bounce">
        <%= image_tag 'arrow-down.png', :class => 'arrow-down' %>
      </div>
    </div>
  </div>

  <div id="pages">

    <div id="accueil" class="set-height">
      <h2 class="navigation-title fancy">ACCUEIL</h2>
      <div class="text-top">
        <div class="text-top-inside">
          <h3>Apprendre avec le goût</h3>
          <%= image_tag 'suitcase.png', :class => 'suitcase-icon' %>
        </div>
      </div>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
      <div class="text-bottom">
        <ul class="text-bottom-inside">
          <li>Voyages gustatifs</li>
          <li>Rencontres</li>
          <li>Plaisirs</li>
        </ul>
      </div>
    </div>

    <div id="back-to-top-anchor">
      <%= image_tag 'arrow-up.png', :class => 'arrow-up' %>
    </div>

    <div id="particuliers" class="adapt-height-to-content">
      <h2 class="navigation-title fancy">PARTICULIERS</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
      <div class="grid-particuliers">

        <div class="one">
          <div class="particulier-grid-img">
            <%= image_tag 'beer-and-food.png' %>
          </div>
          <div class="particulier-grid-content">
            <div>
              <h4>ATELIERS BIERES & METS</h4>
            </div>
            <div>
              <p>Des jeux de saveurs pour éveiller vos sens (chocolat, fromage, charcuterie, dessert...).</p>
            </div>
            <div class="learn-more-div">
              <%= link_to  "En savoir plus", ateliers_path, :class => 'learn-more' %>
            </div>
          </div>
        </div>

        <div class="two">
          <div class="particulier-grid-content">
            <div>
              <h4>ATELIERS FOCUS BIERES</h4>
            </div>
            <div>
              <p>6 dégustations et 1 dégustation à l'aveugle.</p>
            </div>
            <div class="learn-more-div">
              <%= link_to  "En savoir plus", ateliers_path, :class => 'learn-more' %>
            </div>
          </div>
          <div class="particulier-grid-img">
            <%= image_tag 'beer-and-beer.png' %>
          </div>
        </div>

        <div class="three">
          <div class="particulier-grid-img">
            <%= image_tag 'presentation.png' %>
          </div>
          <div class="particulier-grid-content">
            <div>
              <h4>CYCLES FORMATION</h4>
            </div>
            <div>
              <p>Des ateliers théoriques agrémentés de dégustations pour tout vous expliquer de la fabrication à la dégustation </p>
            </div>
            <div class="learn-more-div">
              <%= link_to  "En savoir plus", formations_path, :class => 'learn-more'%>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="groupes" class="set-height">
      <h2 class="navigation-title fancy">GROUPES</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
    </div>

    <div id="brasseurs" class="set-height">
      <h2 class="navigation-title fancy">BRASSEURS</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
    </div>

    <div id="restaurateurs" class="set-height">
      <h2 class="navigation-title fancy">RESTAURATEURS</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
    </div>

    <div id="agenda" class="set-height">
      <h2 class="navigation-title fancy">AGENDA</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
    </div>

    <div id="contact" class="set-height">
      <h2 class="navigation-title fancy">CONTACT</h2>
      <div class="background-text-bottom">
        <%= image_tag 'Rectangle-left.png', :class => 'background-text-bottom-left' %>
        <%= image_tag 'Rectangle-right.png', :class => 'background-text-bottom-right' %>
      </div>
    </div>
  </div>
</div>
