<% if current_user %>
  <h1>Mes ateliers</h1>

  <% if @ateliers.count == 0 %>
    <p>Il n'y a pas de ateliers</p>
  <% else %>
    <% @ateliers.each do |f| %>
      <ul>
        <p>Titre : <%= f.title %></p>
        <p>Prix : <%= f.price %> €</p>
        <p>Description : <%= f.description %></p>
        <p><%= link_to  "supprimer définitivement", atelier_path(f), method: :delete %> - Retirer du site</p>

      </ul>
    <% end %>
  <% end %>


  <br>

  <%= link_to  "menu", admin_platform_path %>

<% else %>

  <%# USER PART HERE %>

  <div id="ateliers-index" class="adapt-height-to-content">
    <h2>Les ateliers</h2>
    <div class="border-only-alignment">
      <div class="border-only"></div>
    </div>
    <div class="introduction">
      <p>Les ateliers ont été conçus afin de permettre à tout un chacun d'apprendre à déguster les bonnes bières avec le bon repas.<br>Grâce aux activités ludiques créées par notre zytologiste, vous apprendrez, pendant deux heures, à déguster et à connaitre de délicieuses bières.</p>
    </div>
    <div class="border-only-alignment">
      <div class="border-only"></div>
    </div>
    <% if @ateliers.count == 0 %>
      <p>Malheureusement, aucun atelier n'est prévu dans les prochaines semaines.<br>Reviens vite nous voir pour rester à jour!</p>
    <% else %>
      <% @ateliers.each do |a| %>
        <%= link_to atelier_path(a.id), class: "atelier-path" do %>
          <div class="atelier" data-aos="left" data-aos-duration="1500">
            <h3 class="title"><%= a.title %></h3>
            <p class="description"><%= a.description %></p>
            <p class="price"><%= a.price %> €</p>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>

<% end %>
