<% if current_user %>
  <h1>Mes ateliers</h1>

  <% if @ateliers.count == 0 %>
    <p>Il n'y a pas de ateliers</p>
  <% else %>
    <% @ateliers.each do |f| %>
      <ul>
        <li><p>Titre : <%= f.title %></p></li>
        <p>Prix : <%= f.price %> €</p>
        <p>Description : <%= f.description %></p>
        <p><%= link_to  "supprimer définitivement", atelier_path(f), method: :delete %> - Retirer du site</p>

      </ul>
    <% end %>
  <% end %>


  <br>

  <%= link_to  "menu", admin_platform_path %>
<% else %>
  voici les ateliers
<% end %>
